
* text=auto

meta.yaml text eol=lf
build.sh text eol=lf
bld.bat text eol=crlf
recipe/0012-Win32-Do-not-download-externals.patch binary
recipe/0016-Switch-from-WinSDK-10.0.17134.0-to-10.0.16299.0.patch binary

